/* Estilização do layout */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 280px;
    background-color: #333;
    color: white;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    flex-shrink: 0;
}

.sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#pedido{
    background-color: #444;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.sidebar a:hover {
    background-color: #444;
}

.sidebar .logout {
    position: absolute;
    bottom: 20px;
    width: calc(200px);
}

/* Estilo para a seção de pedidos */
#order-section {
    margin-top: 20px;
    margin-left: 100px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

#order-form label,
#order-form input,
#order-form select,
#order-form button {
    display: block;
    margin-bottom: 10px;
}

#order-form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#order-form button:hover {
    background-color: #45a049;
}

#order-summary {
    margin-top: 20px;
}

#orderItems {
    margin-bottom: 10px;
}

#totalPrice {
    font-weight: bold;
    font-size: 1.2em;
}
