/* Estilização do layout */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 280px;
    background-color: #333;
    color: white;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    flex-shrink: 0;
}

.sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#pedido{
    background-color: #444;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.sidebar a:hover {
    background-color: #444;
}

.sidebar .logout {
    position: absolute;
    bottom: 20px;
    width: calc(200px);
}

main{
    margin-left: 20px;
    margin-top: 20px;
}

/* Estilo para a seção de pedidos */
.product-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: 100%;
}

.product-container div {
    margin-bottom: 10px;
}

.product-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
}

.product-container select,
.product-container input {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}

.product-container button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 4px;
    cursor: pointer;
}

.product-container button:hover {
    background-color: #45a049;
}

/* Estilização da tabela */
table {
    font-size: 15px;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

table thead {
    background-color: #f4f4f4;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}
