@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Estilização do layout */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(135deg, #74ABE2 0%, #5563DE 100%);
    color: #333;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 280px;
    background-color: #333;
    color: white;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    flex-shrink: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease;
}

.sidebar:hover {
    width: 300px;
}

.sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#pedido {
    background-color: #444;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 12px;
    margin-bottom: 10px;
    font-size: 15px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.sidebar a:hover {
    background-color: #444;
}

.sidebar .logout {
    position: absolute;
    bottom: 20px;
    width: calc(100% - 40px);
}

.main-content {
    margin-left: 280px;
    padding: 20px;
    overflow-y: auto;
    height: 100vh;
    box-sizing: border-box;
    width: calc(100% - 280px);
    background-color: #f9f9f9;
    box-shadow: -4px 0 15px rgba(0, 0, 0, 0.1);
    transition: margin-left 0.3s ease;
}

/* Estilo para a seção de pedidos */
.product-container {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 68%;
}

.product-container div {
    margin-bottom: 10px;
}

.product-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
}

.product-container select,
.product-container input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
    transition: border-color 0.3s ease;
}

.product-container select:focus,
.product-container input:focus {
    border-color: #4950af;
}

#finalizeOrder,
#sendOrder {
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#finalizeOrder {
    background-color: #4950af;
    color: white;
}

#sendOrder {
    background-color: #4CAF50;
    color: white;
}

#sendOrder:hover {
    background-color: #45a049;
}

#finalizeOrder:hover {
    background-color: #2d36b6;
}

/* Estilização da tabela */
table {
    font-size: 15px;
    width: 70%;
    border-collapse: collapse;
    margin-bottom: 50px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

table thead {
    background-color: #f4f4f4;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f4f4f4;
    color: #333;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

footer {
    color: #333;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    background-color: #f4f4f4;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer label {
    font-weight: bold;
}
